
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

instance/


.vscode/


node_modules/
.next/


.DS_Store
Thumbs.db


*.log


.coverage
htmlcov/

*.sqlite3
*.db


frontend/.next/
frontend/node_modules/

venv/
backend/venv/ 